:root{
  --bg-header: #1867c0;
  --bg-main: #f0f0f0;
  --bg-footer: #ffffff;
  --color-main: #ffffff;
  --color-secondary: #444;
  --color-link: #222;
  --color-link-hover: #eee;
  --green: #4caf50;
  --red: #f44336;
  --blue: #2196f3;
  --purple: #9c27b0;
  --orange: #ff9800;
  --darkgreen: #1b5e20;
  --darkred: #b71c1c;
  --darkblue: #0d47a1;
  --darkpurple: #4a148c;
}